# Node modules
node_modules/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos generados por editores
.vscode/
.idea/

# Archivos de salida u ocultos
*.log
*.tmp

# Datos originales (si no deseas compartirlos)
public/data
# Datos procesados
public/output
